<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>실습. GET 회원가입</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <form name="register-form">
            <label for="name">이름</label>
            <input type="text" name="name" id="name" required />
            <fieldset>
                <legend>성별</legend>
                <input type="radio" id="male" name="gender" value="male" required />
                <label for="male">남자</label>
                <input type="radio" id="female" name="gender" value="female" required />
                <label for="female">여자</label>
            </fieldset>
            <br />
            <fieldset>
                <legend>생년월일</legend>
                <select name="birthYear" id="birthYear">
                    <% for (i = 1990; i <= 2024; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="birthYear">년</label>
                <select name="birthMonth" id="birthMonth">
                    <% for (i = 1; i <= 12; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="birthMonth">월</label>
                <select name="birthDay" id="birthDay">
                    <% for (i = 1; i <= 31; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="birthDay">일</label>
            </fieldset>
            <br />
            <fieldset>
                <legend>관심사</legend>
                <input type="checkbox" name="hobby" value="trip" id="trip" />
                <label for="trip">여행</label>
                <input type="checkbox" name="hobby" value="fashion" id="fashion" />
                <label for="fashion">패션</label>
                <input type="checkbox" name="hobby" value="food" id="food" />
                <label for="food">음식</label>
            </fieldset>
            <br />
            <button type="button" onclick="signUp()">회원가입</button>
        </form>
        <div class="result"></div>
        <script>
            const resultBox = document.querySelector('.result');

            function signUp() {
                const form = document.forms['register-form'];
                const hobby = [];
                const checked = form.querySelectorAll('input[type="checkbox"]:checked');
                checked.forEach((elem) => {
                    hobby.push(elem.value);
                });
                const data = {
                    username: form.name.value,
                    usergender: form.gender.value,
                    userbirthYear: form.birthYear.value,
                    userbirthMonth: form.birthMonth.value,
                    userbirthDay: form.birthDay.value,
                    hobby,
                };
                axios({
                    method: 'GET',
                    url: '/result1',
                    params: data,
                }).then((res) => {
                    console.log(res);
                    resultBox.textContent = `${res.data.username}님  성별 : ${res.data.usergender} 생년월일 : ${res.data.userbirthYear}-${res.data.userbirthMonth}-${res.data.userbirthDay} 취미 : ${res.data.hobby}`;
                });
            }
        </script>
    </body>
</html>
